0_data
0_PrepareBibTex
1_PrepareMapData
2_PrepareDiversityData
3_RunModels
4_PlotModelResults
5_GetEstimatedBiodiversityChanges
6_ModelRobustnessChecks
7_DataChecks
8_Manuscript.docx
9_SupplementaryMaterial.docx
.Rhistory
Rplots.pdf